@model QnA.ViewModels.QuestionViewModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/ClientMaster.cshtml";
}
<head>
    <!-- thred style-->
    <link href="~/Content/css/thread/custom.css" rel="stylesheet">
    <link href="~/Content/css/thread/vars.css" rel="stylesheet">
    <style>
        .x_panel {
            background: none;
            border:0;
        }
        .author-image-span {
            border-color: #397df8;
        }
        img.avatar{
            padding:0;

            width:45px;
            height:45px;
        }
        .comment-form{
            padding:0;
        }
        hr{
            margin:0;
        }
        .question-footer{
            padding:10px;
        }
        .post-author {
            letter-spacing: 0px
        }
        .best-answer-meta{
            cursor:pointer;
        }
        .fupvote, .tupvote, .fdownvote, .tdownvote {
            margin-bottom: 0px;
            margin-right: 0px;
            background-color: transparent;
            border: 0;
            padding: 0;
        }
        .fupvote i, .tupvote i, .fdownvote i, .tdownvote i {
             font-size: 2rem;
        }
        .footer-meta li {
            padding:0;
            padding-left: 5px;
            padding-right: 5px;
        }
        .commentbox{
            display:none;
        }
    </style>
</head>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">

            <div class="x_content">
                <div class="col-md-9 col-sm-9  ">
                    <div class="the-main-inner float_l">
                        <div class="post-articles question-articles">
                            <article id="post-118" class="article-question article-post clearfix question-with-comments answer-question-not-jquery question-vote-image discoura-not-credential question-type-normal post-118 question type-question status-publish hentry question-category-language question_tags-english question_tags-language" itemprop="mainEntity" itemscope="" itemtype="https://schema.org/Question">
                                <div class="single-inner-content">
                                    <div class="question-inner">
                                        <div class="question-image-vote">
                                            <div class="author-image author-image-42">
                                                <a href="">
                                                    <span class="author-image-span">
                                                        <img class="avatar avatar-42 photo" alt="Martin Hope" title="Martin Hope" width="42" height="42" src="https://2code.info/demo/themes/Discy/Main/wp-content/uploads/2018/04/team-2-42x42.jpg">
                                                    </span>
                                                </a>
                                            </div>
                                            <ul class="question-vote question-mobile">
                                                <li class="question-vote-up"><a href="#" id="question_vote_up-118" data-type="question" data-vote-type="up" class="wpqa_vote question_vote_up vote_allow" title="Like"><i class="icon-up-dir"></i></a></li>
                                                <li class="vote_result" itemprop="upvoteCount">126</li>
                                                <li class="li_loader"><span class="loader_3 fa-spin"></span></li>
                                                <li class="question-vote-down"><a href="#" id="question_vote_down-118" data-type="question" data-vote-type="down" class="wpqa_vote question_vote_down vote_allow wpqa_voted_already" title="Dislike"><i class="icon-down-dir"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="question-content question-content-first">
                                            <header class="article-header">
                                                <div class="question-header">
                                                    <span itemprop="author">
                                                        <a class="post-author" itemprop="url" href="">
                                                        <span itemprop="name">@Model.forum.User.Name</span></a>
                                                    </span>
                                                    <div class="post-meta">
                                                        <span class="post-date" style="margin-top: 3px;">
                                                            Asked:<span class="date-separator"></span>
                                                                  <time class="entry-date published">@Model.forum.DateTime.ToString("MMM/dd/yyyy hh:mm  tt")</time></span>
                                                    </div>
                                                </div>
                                            </header>
                                            <div itemprop="name">
                                                <h1 class="post-title">@Model.forum.Title</h1>
                                            </div>
                                        </div>
                                        <div class="question-not-mobile question-image-vote question-vote-sticky">
                                            <div class="">
                                                <ul class="question-vote">
                                                    @{

                                                        var upcolor = "#000000";
                                                    }
                                                    @foreach (var data in Model.forum.ForumVotes)
                                                    {
                                                        if (data.UserId == Model.Id && data.UpVote == true)
                                                        {
                                                            upcolor = "#2D6ff7";
                                                        }
                                                    }
                                                    <li class="question-vote-up"><button id="@("fupvote"+Model.forum.Id)" updateid="@("fupvote-"+Model.forum.Id)" class="fupvote" title="upvote"><i class="icon-up-dir" style="color:@upcolor"></i></button></li>

                                                    @{
                                                        var forumVotes = Model.forum.Upvote - Model.forum.Downvote;

                                                    }
                                                    <li class="vote_result" id="@("fvotecount"+Model.forum.Id)">@forumVotes</li>
                                                    <li class="li_loader"><span class="loader_3 fa-spin"></span></li>
                                                    @{

                                                        var downcolor = "#000000";
                                                    }
                                                    @foreach (var data in Model.forum.ForumVotes)
                                                    {
                                                        if (data.UserId == Model.Id && data.DownVote == true)
                                                        {
                                                            downcolor = "#2D6ff7";
                                                        }
                                                    }
                                                    <li class="question-vote-down"><button id="@("fdownvote"+Model.forum.Id)" updateid="@("fdownvote-"+Model.forum.Id)" class="fdownvote" title="downvote"><i class="icon-down-dir" style="color:@downcolor"></i></button></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="question-content question-content-second">
                                            <div class="wpqa_error"></div>
                                            <div class="wpqa_success"></div>
                                            <div class="post-wrap-content">
                                                <div class="question-content-text">
                                                    <div class="all_signle_post_content">
                                                        <div class="content-text" itemprop="text">
                                                            @Html.Raw(WebUtility.HtmlDecode(@Model.forum.Body))
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div></div>
                                                    </div>
                                                </div>
                                                <div class="tagcloud">
                                                    <div class="question-tags">
                                                        @foreach (var data in Model.forum.tags)
                                                        {
                                                            <a href="/Question/Tag?tagId=@data.Tag.Id" style="background: #e1ecf4;color:#39739d">@data.Tag.Name</a>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            @{
                                                if (Model.Id == Model.forum.UserId)
                                                {
                                                    <div class="question-footer">
                                                        <ul class="footer-meta">
                                                            <li class="best-answer-meta"><span class="editforum question-span" updateid="@Model.forum.Id">Edit</span></li>
                                                            <li class="best-answer-meta"><span class="deleteforum question-span" updateid="@Model.forum.Id">Delete</span></li>
                                                        </ul>
                                                        <a class="meta-answer meta-answer-a" href="">Answer</a>
                                                    </div>
                                                }

                                            }

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="question-adv-comments question-has-comments">

                                    @if (Model.threadList.Count != 0)
                                    {
                                        <div id="comments" class="post-section comments-popup-share">
                                            <div class="post-inner">
                                                <div class="answers-tabs">
                                                    <h2 class="section-title" style="font-size:20px"><span>@Model.threadList.Count Answers</span></h2>
                                                    <div class="answers-tabs-inner">
                                                        <ul>
                                                            <li class="active-tab"><a href="">Voted</a></li>
                                                            <li><a href="">Oldest</a></li>
                                                            <li><a href="">Recent</a></li>
                                                            <li><a href="">Random</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <ol class="commentlist clearfix">
                                                    @foreach (var data in Model.threadList)
                                                    {
                                                        <li class="comment byuser comment-author-marko even thread-even depth-1" itemscope="" id="@("li-thread-"+data.Id)">
                                                            <div class="single-inner-content">
                                                                <div class="question-inner">
                                                                    <div class="question-image-vote">
                                                                        <div class="author-image author-image-42">
                                                                            <a href="">
                                                                                <span class="author-image-span">
                                                                                    <img class="avatar avatar-42 photo" alt="Martin Hope" title="Martin Hope" width="42" height="42" src="https://2code.info/demo/themes/Discy/Main/wp-content/uploads/2018/04/team-2-42x42.jpg">
                                                                                </span>
                                                                            </a>
                                                                        </div>
                                                                        <ul class="question-vote question-mobile">
                                                                            <li class="question-vote-up"><a href="#" id="question_vote_up-118" data-type="question" data-vote-type="up" class="wpqa_vote question_vote_up vote_allow" title="Like"><i class="icon-up-dir"></i></a></li>
                                                                          
                                                                            <li class="vote_result" itemprop="upvoteCount">126</li>
                                                                            <li class="li_loader"><span class="loader_3 fa-spin"></span></li>
                                                                            <li class="question-vote-down"><a href="#" id="question_vote_down-118" data-type="question" data-vote-type="down" class="wpqa_vote question_vote_down vote_allow wpqa_voted_already" title="Dislike"><i class="icon-down-dir"></i></a></li>
                                                                        </ul>
                                                                    </div>
                                                                    <header class="article-header">
                                                                        <div class="question-header">
                                                                            <span itemprop="author">
                                                                                <a class="post-author" itemprop="url" href=""><span itemprop="name">@data.User.Name</span></a>
                                                                            </span>

                                                                        </div>
                                                                        <span href="" class="comment-date" itemprop="url">
                                                                            Added an answer on @data.DateTime.ToString("MMM/dd/yyyy hh:mm  tt")
                                                                        </span>
                                                                    </header>
                                                                    <div class="question-not-mobile question-image-vote question-vote-sticky">
                                                                        <div class="">
                                                                            <ul class="question-vote">
                                                                                @{

                                                                                    var tupcolor = "#000000";
                                                                                }
                                                                                @foreach (var item in data.ThreadVotes)
                                                                                {
                                                                                    if (item.UserId == Model.Id && item.UpVote == true)
                                                                                    {
                                                                                        tupcolor = "#2D6ff7";
                                                                                    }
                                                                                }
                                                                                <li class="question-vote-up"><button id="@("tupvote"+data.Id)" updateid="@("tupvote-"+data.Id)" class="tupvote" title="Like"><i class="icon-up-dir" style="color:@tupcolor"></i></button></li>
                                                                                @{
                                                                                    var threadVotes = data.Upvote - data.Downvote;

                                                                                }
                                                                                <li class="vote_result" id="@("tvotecount"+data.Id)">@threadVotes</li>
                                                                                <li class="li_loader"><span class="loader_3 fa-spin"></span></li>
                                                                                @{

                                                                                    var tdowncolor = "#000000";
                                                                                }
                                                                                @foreach (var item in data.ThreadVotes)
                                                                                {
                                                                                    if (item.UserId == Model.Id && item.DownVote == true)
                                                                                    {
                                                                                        tdowncolor = "#2D6ff7";
                                                                                    }
                                                                                }
                                                                                <li class="question-vote-down"><button id="@("tdownvote"+data.Id)" updateid="@("tdownvote-"+data.Id)" class="tdownvote" title="Dislike"><i class="icon-down-dir" style="color:@tdowncolor"></i></button></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="question-content question-content-second">
                                                                        <div class="wpqa_error"></div>
                                                                        <div class="wpqa_success"></div><br>
                                                                        <div class="post-wrap-content">
                                                                            <div class="question-content-text">
                                                                                <div class="text">
                                                                                    <div itemprop="text" style="color:black">
                                                                                        @Html.Raw(WebUtility.HtmlDecode(data.Body))
                                                                                    </div>
                                                                                    @{
                                                                                        if (Model.Id == data.UserId)
                                                                                        {
                                                                                            <ul class="footer-meta">
                                                                                                
                                                                                                <li class="best-answer-meta"><a href="@Url.Action("EditThread", "Question", new { threadid = data.Id})">Edit</a>
                                                                                                <li class="best-answer-meta"><span class="deletethread question-span" updateid="@data.Id">Delete</span></li>
                                                                                            </ul>
                                                                                        }
                                                                                    }

                                                                                    <div class="clearfix"></div>
                                                                                    <div class="clearfix"></div>
                                                                                    <div class="wpqa_error"></div>
                                                                                    @*       <ul class="comment-reply comment-reply-main">
            <li><sapn style="font-size:0.8rem;font-weight:bold"><a href="" data-id="63" data-post_id="118"> 5 comments</a></sapn></li>
            <li class="clearfix last-item-answers"></li>
        </ul>*@

                                                                                    <div class="question-footer" id="@("commentlist"+data.Id)" style="margin-top:0.5rem">
                                                                                        @foreach (var cmt in data.CommentList)
                                                                                        {
                                                                                            <div id="@("commentrow" + cmt.Id)">
                                                                                                @cmt.Body -<a href="">@cmt.User.Name</a>
                                                                                                @{
                                                                                                    if (Model.Id == cmt.UserId)
                                                                                                    {
                                                                                                        <a href="javascript:void(0)" class="deletecomment" updateid="@cmt.Id">Delete</a>
                                                                                                    }
                                                                                                }
                                                                                            </div><hr>
                                                                                        }


                                                                                    </div>
                                                                                    <sapn style="font-size:0.8rem;"><a href="javascript:void(0)" class="opencommentbox" updateid="@data.Id"> add a comment</a></sapn><br />
                                                                                    <div id="@("commentbox"+data.Id)" class="commentbox">
                                                                                        <textarea class="form-control" id="@("commentinput"+data.Id)"></textarea>
                                                                                        <a class="addcomment meta-answer meta-answer-a" updateid="@data.Id" userid="@data.User.Id" style=" padding: 5px; letter-spacing: 0;" href="javascript:void(0)">Add Comment</a>
                                                                                        <a class="cancelcomment meta-answer meta-answer-a" updateid="@data.Id" style="float:right; padding: 5px; margin-right:5px" href="javascript:void(0)">cancel</a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>

                                                    }

                                                </ol>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>

                                    }


                                    <div id="respond-all">
                                        <div id="respond" class="comment-respond">
                                            <h3 class="section-title comment-form-hide" style="display: block;">
                                                Leave an answer
                                            </h3>
                                            
                                                <div class="clearfix"></div>
                                                <div class="wpqa_error"></div>
                                                <div class="form-input form-textarea form-comment-editor">
                                                    <div style="height: 250px;" id="body">

                                                    </div>
                                                </div>
                                                <p class="form-submit">
                                                    <button id="postanswer" class="button-default button-hide-click" style="width:100%">Post Your Answer</button>
                                                </p>
                                                <input type="hidden" id="ak_js" name="ak_js" value="1609535191671">
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>


                </div>

                <!-- start project-detail sidebar -->
                <div class="col-md-3 col-sm-3  ">

                    right content

                </div>
                <!-- end project-detail sidebar -->

            </div>
        </div>
    </div>
</div>
<script>
    var toolbarOptions = [
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

        ['bold', 'italic', 'link', 'image'],        // toggled buttons
        ['blockquote', 'code-block'],

        [{ 'list': 'ordered' }, { 'list': 'bullet' }, { 'align': [] }],


    ]


    var quill = new Quill('#body', {
        modules: { toolbar: toolbarOptions },
        theme: 'snow'
    })

    //forum upvote
    $(".fupvote").click(function () {
        var idString = $(this).attr("updateid");
        var forumid = parseInt(idString.split("-")[1]);
        ForumUpVote(forumid)
        //alert(forumid)
    })
    //forum downvote
    $(".fdownvote").click(function () {
        var idString = $(this).attr("updateid");
        var forumid = parseInt(idString.split("-")[1]);
        ForumDownVote(forumid)
        //alert(forumid)
    })
    //thread upvote
    $(".tupvote").click(function () {
        var idString = $(this).attr("updateid");
        var threadid = parseInt(idString.split("-")[1]);
        ThreadUpVote(threadid)
        //alert(threadid)
    })
    //thread downvote
    $(".tdownvote").click(function () {
        var idString = $(this).attr("updateid");
        var threadid = parseInt(idString.split("-")[1]);
        ThreadDownVote(threadid)
        //alert(threadid)
    })

    //add thread
    $("#postanswer").click(() => {
        var body = $(".ql-editor").html()
        if (body.length >= 100) {
            alert("in")
             AddThread();
        }
        else {
            //validation err
        }
    });
    //edit forum
    $(".editforum").click(function () {
        var forumid = $(this).attr("updateid");
        alert(forumid)
    })
    //delete forum
    $(".deleteforum").click(function () {
        var forumid = parseInt($(this).attr("updateid"));
        var confirm = window.confirm("Really delete this Question?");
        if (confirm == true) {
            //alert(forumid)
            DeleteForum(forumid)
        }
    })
    //edit thread
@*    $(".editthread").click(function () {
        var threadid = parseInt($(this).attr("updateid"));

        window.location.href = '@Url.Action("EditThread", "Question")? id =' + threadid;
        //alert(threadid)
    })*@
    //delete thread
    $(".deletethread").click(function () {
        var threadid = parseInt($(this).attr("updateid"));
        var confirm = window.confirm("Really delete this post?");
        if (confirm == true) {
            DeleteThread(threadid)
            //alert(threadid)
        }

    })

    //open comment div
    $(".opencommentbox").click(function () {
        var threadid = parseInt($(this).attr("updateid"));
        $("#commentbox" + threadid).css('display', 'block')
        //alert(threadid)
    })
    //add comment
    $(".addcomment").click(function () {
        var threadid = parseInt($(this).attr("updateid"));
        var AnsewerUserId = parseInt($(this).attr("userid"));
        AddComment(threadid,AnsewerUserId);
        //alert(threadid)
    })
    //hide comment div
    $(".cancelcomment").click(function () {
        var threadid = parseInt($(this).attr("updateid"));
        $("#commentbox" + threadid).css('display', 'none')
       // alert(threadid)
    })
    //delete comment
    $(document).on('click', '.deletecomment', function () {
        var threadid = parseInt($(this).attr("updateid"));
        var confirm = window.confirm("Really delete this comment?");
        if (confirm == true) {

            DeleteComment(threadid)
            //alert(threadid)
        }
    });







    function AddThread() {
        alert("in2")
        var obj = {
            thread: {
                ParentThreadId:0,
                Body: $(".ql-editor").html(),
                ForumId:@Model.forum.Id,
                UserId:@Model.Id
            },
            QuestionUserId:@Model.forum.UserId
        }

        $.ajax({
            url: "/Question/AddThread",
            method: "POST",
            data: JSON.stringify(obj),
            contentType: "application/json",
            cache: false,
            success: function (res) {
                console.log(res);
                window.location.href='@Url.Action("Thread", "Question",new { id = Model.forum.Id })'
            },
            error: function (err) {
                console.log(err);
            }
        });
    }



    function DeleteThread(threadid) {
        var obj = {
            ThreadId: threadid
        }

        $.ajax({
            url: "/Question/DeleteThread",
            method: "POST",
            data: JSON.stringify(obj),
            contentType: "application/json",
            cache: false,
            success: function (res) {
                console.log(res);
                window.location.href='@Url.Action("Thread", "Question",new { id = Model.forum.Id })'
            },
            error: function (err) {

            }
        });
    }

    function AddComment(threadid,AnsewerUserId) {

        var obj = {
            thread: {
                ParentThreadId: threadid,
                Body: $("#commentinput" + threadid).val(),
                ForumId:@Model.forum.Id,
                UserId:@Model.Id
            },
            QuestionUserId:@Model.forum.UserId,
            AnswerUserId: AnsewerUserId
        }

        $.ajax({
            url: "/Question/AddComment",
            method: "POST",
            data: JSON.stringify(obj),
            contentType: "application/json",
            cache: false,
            success: function (res) {
                console.log(res);
                html = ""
                html += "<div id='commentrow" + res.Id + "'>"
                html += res.Body + " - <a href=''>" +res.User.Name+"</a><a href='javascript:void(0)' class='deletecomment' updateid='" + res.Id + "'> Delete</a>"
                html += "</div><hr>"
                $("#commentbox" + threadid).css('display', 'none');
                $("#commentlist" + threadid).append(html);

            },
            error: function (err) {

            }
        });
    }

    function DeleteComment(threadid) {
        var obj = {
            ThreadId: threadid
        }

        $.ajax({
            url: "/Question/DeleteComment",
            method: "POST",
            data: JSON.stringify(obj),
            contentType: "application/json",
            cache: false,
            success: function (res) {
                console.log(res);
                if (res) {
                    $("#commentrow" + threadid).remove();
                }
            },
            error: function (err) {

            }
        });
    }


    function ThreadUpVote(threadid) {
        var obj = {
            ThreadId: threadid
        }

        $.ajax({
            url: "/Question/ThreadUpVote",
            method: "POST",
            data: JSON.stringify(obj),
            contentType: "application/json",
            cache: false,
            success: function (res) {
                console.log(res);
                //1-add
                //2-delete
                //3-update
                //4-none
                //votecount = parseInt($("#tvotecount" + threadid).text());
                if (res.statusflag == 1) {
                    //tvotecount
                    //var count = votecount + 1;
                    var uid = "#tupvote" + threadid
                    $(uid + " > i").css("color", "#2D6ff7");
                    var did = "#tdownvote" + threadid
                    $(did + " > i").css("color", "#000000");

                    $("#tvotecount" + threadid).text(res.vote);
                }
                else if (res.statusflag == 2) {
                   // var count = votecount - 1;
                    var uid = "#tupvote" + threadid
                    $(uid + " > i").css("color", "#000000");
                    var did = "#tdownvote" + threadid
                    $(did + " > i").css("color", "#000000");

                    $("#tvotecount" + threadid).text(res.vote);
                }
                else if (res.statusflag == 3) {
                    //var count = votecount - 2;
                    var uid = "#tupvote" + threadid
                    $(uid + " > i").css("color", "#2D6ff7");
                    var did = "#tdownvote" + threadid
                    $(did + " > i").css("color", "#000000");

                    $("#tvotecount" + threadid).text(res.vote);
                }
                else {
                    alert("you can't vote on your own questions")
                }
            },
            error: function (err) {

            }
        });
    }

    function ThreadDownVote(threadid) {
        var obj = {
            ThreadId: threadid
        }

        $.ajax({
            url: "/Question/ThreadDownVote",
            method: "POST",
            data: JSON.stringify(obj),
            contentType: "application/json",
            cache: false,
            success: function (res) {
                console.log(res);
                //1-add
                //2-delete
                //3-update
                //4-none
                //votecount = parseInt($("#tvotecount" + threadid).text());
                if (res.statusflag == 1) {
                    //tvotecount
                    //var count = votecount - 1;
                    var uid = "#tupvote" + threadid
                    $(uid + " > i").css("color", "#000000");
                    var did = "#tdownvote" + threadid
                    $(did + " > i").css("color", "#2D6ff7");

                    $("#tvotecount" + threadid).text(res.vote);
                }
                else if (res.statusflag == 2) {
                    //var count = votecount + 1;
                    var uid = "#tupvote" + threadid
                    $(uid + " > i").css("color", "#000000");
                    var did = "#tdownvote" + threadid
                    $(did + " > i").css("color", "#000000");

                    $("#tvotecount" + threadid).text(res.vote);
                }
                else if (res.statusflag == 3) {
                    //var count = votecount + 2;
                    var uid = "#tupvote" + threadid
                    $(uid + " > i").css("color", "#000000");
                    var did = "#tdownvote" + threadid
                    $(did + " > i").css("color", "#2D6ff7");

                    $("#tvotecount" + threadid).text(res.vote);
                }
                else {
                    alert("you can't vote on your own questions")
                }
            },
            error: function (err) {

            }
        });
    }

    function ForumUpVote(forumid) {
        var obj = {
            ForumId: forumid
        }

        $.ajax({
            url: "/Question/ForumUpVote",
            method: "POST",
            data: JSON.stringify(obj),
            contentType: "application/json",
            cache: false,
            success: function (res) {
                console.log(res);
            //1-add
            //2-delete
            //3-update
            //4-none
                //votecount = parseInt($("#fvotecount" + forumid).text());
                if (res.statusflag == 1) {
                    //tvotecount
                    //var count = votecount + 1;
                    var uid = "#fupvote" + forumid
                    $(uid + " > i").css("color", "#2D6ff7");
                    var did = "#fdownvote" + forumid
                    $(did + " > i").css("color", "#000000");

                    $("#fvotecount" + forumid).text(res.vote);
                }
                else if (res.statusflag == 2) {
                    //var count = votecount - 1;
                    var uid = "#fupvote" + forumid
                    $(uid + " > i").css("color", "#000000");
                    var did = "#fdownvote" + forumid
                    $(did + " > i").css("color", "#000000");
                    $("#fvotecount" + forumid).text(res.vote);
                }
                else if (res.statusflag == 3) {
                    //var count = votecount - 2;
                    var uid = "#fupvote" + forumid
                    $(uid + " > i").css("color", "#2D6ff7");
                    var did = "#fdownvote" + forumid
                    $(did + " > i").css("color", "#000000");
                    $("#fvotecount" + forumid).text(res.vote);
                }
                else {
                    alert("you can't vote on your own questions")
                }
            },
            error: function (err) {

            }
        });
    }

    function ForumDownVote(forumid) {
        var obj = {
            ForumId: forumid
        }

        $.ajax({
            url: "/Question/ForumDownVote",
            method: "POST",
            data: JSON.stringify(obj),
            contentType: "application/json",
            cache: false,
            success: function (res) {
                console.log(res);
                //1-add
                //2-delete
                //3-update
                //4-none
                //votecount = parseInt($("#fvotecount" + forumid).text());
                if (res.statusflag == 1) {
                    //tvotecount
                    //var count = votecount - 1;
                    var uid = "#fupvote" + forumid
                    $(uid + " > i").css("color", "#000000");
                    var did = "#fdownvote" + forumid
                    $(did + " > i").css("color", "#2D6ff7");
                    $("#fvotecount" + forumid).text(res.vote);
                }
                else if (res.statusflag == 2) {
                    //var count = votecount + 1;
                    var uid = "#fupvote" + forumid
                    $(uid + " > i").css("color", "#000000");
                    var did = "#fdownvote" + forumid
                    $(did + " > i").css("color", "#000000");
                    $("#fvotecount" + forumid).text(res.vote);
                }
                else if (res.statusflag == 3) {
                    //var count = votecount + 2;
                    var uid = "#fupvote" + forumid
                    $(uid + " > i").css("color", "#000000");
                    var did = "#fdownvote" + forumid
                    $(did + " > i").css("color", "#2D6ff7");
                    $("#fvotecount" + forumid).text(res.vote);
                }
                else {
                    alert("you can't vote on your own questions")
                }
            },
            error: function (err) {

            }
        });
    }

    function DeleteForum(forumid) {
        var obj = {
            ForumID: forumid
        }

        $.ajax({
            url: "/Question/DeleteForum",
            method: "POST",
            data: JSON.stringify(obj),
            contentType: "application/json",
            cache: false,
            success: function (res) {
                console.log(res);
                window.location.href='@Url.Action("All", "Question")'
            },
            error: function (err) {

            }
        });
    }



</script>